* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  transition: all 500ms;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.wordContainer {
  width: 40vw;
}

.increase {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
}
